<% @students.each.with_index do |student, index| %>
  <% if index == 0 %><div class="row small-gutter"><% end %>
    <div class="col-xs-3 student">
      <div class="thumbnail">
        <%= image_tag student.picture.url(:thumb) %>
        <div class="caption">
          <small><%= link_to student.name, student_path(student) %></small>
        </div>
      </div>
    </div>
  <% if (index + 1).modulo(6).zero? || (index + 1) == @students.each.count %>
    </div>
    <%= raw('<div class="row small-gutter">') unless (index + 1) == @students.each.count %>
  <% end %>
<% end %>
